<footer class="footer bg-dark py-3 mt-auto">
  <div class="container d-flex justify-content-between">
    <span class="text-muted"> &COPY; JungleCamp 2024 </span>
    <span class="text-muted">
      Powerd By: 
      <a
        href="https://www.instagram.com/ahmedtm_404?igsh=cW95ZHB2emZuazVo&utm_source=qr"
        target="_blank"
        class="text-muted"
        >@ahmedtm_404</a
      >
    </span>
  </div>
</footer>
